{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>My Tasks</h1>
    {% for task in tasks %}
    <div class="task-card">
        <h2>{{ task.task }}</h2>
        <p><strong>Description:</strong> {{ task.description }}</p>
        <p><strong>In Progress At:</strong> {{ task.in_progress_at }}</p>
        <form action="/" method="post">
            <input type="hidden" name="task_id" value="{{ task.id }}">
            <button type="submit">Mark as Completed</button>
        </form>
    </div>
    {% endfor %}
{% endblock %}
